body {
  font-family: "Roboto", sans-serif;
  background: #030504;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;

  grid-gap: 60px;
}
.img-responsive {
  width: 100%;
  display: block;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-column-cards {
  grid-template-columns: 1fr 1fr 1fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.text-center {
  text-align: center;
}

.card-headings {
  text-align: center;
  color: white;
  padding: 20px 0;
}
.card {
  background: white;
}
.btn {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  background-color: blueviolet;
  padding: 16px 32px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../images/beyonce-wallpaper-cards.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/beyonce-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: bold;
  font-size: 128px;
  font-family: "Playfair Display", serif;
  margin: 30px 0;
  line-height: 1;
}
header h2 {
  font-weight: 400px;
  font-size: 40px;
  margin: 0;
  line-height: 1;
}
header h3 {
  font-weight: 900px;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
  line-height: 1;
}
header a {
  font-weight: 600px;
  font-size: 16px;
  border-radius: 20px;
  color: white;
  background: blueviolet;
  padding: 16px 32px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 32px;
  line-height: 1;
}
main {
  background-color: white;
}
main h2 {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #69359c;
  margin: 0;
}
main h3 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #272044;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #272044;
}

main p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  color: #030504;
}
iframe {
  margin: 6px 0;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("../images/beyonce-footer.png");
  background-color: #020403;
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  font-family: "Playfair Display", serif;
}
footer p {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  text-decoration: none;
  line-height: 24px;
}

@media (max-width: 968px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 64px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  section {
    padding: 30px;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
